<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.IUserDao">
    <!--用于用户信息注册-->
    <resultMap id="userInsert" type="com.ssm.pojo.Register">
        <id column="UserName" property="UserName"></id>
        <id column="pass" property="pass"></id>
        <id column="checkPass" property="checkPass"></id>
        <id column="UName" property="UName"></id>
        <id column="IDcard" property="IDcard"></id>
        <id column="Email" property="Email"></id>
        <id column="Phone" property="Phone"></id>
    </resultMap>
    <insert id="insertUser"  >

        insert into register (UserName,pass,checkPass,UName,IDcard,Email,Phone)
        values (#{UserName},#{pass},#{checkPass},#{UName},#{IDcard},#{Email},#{Phone})
    </insert>
</mapper>